# https://dashboard.ngrok.com/tunnels/authtokens
authtoken: TOKEN
version: 2
tunnels:
  haproxy:
    addr: haproxy:80
    proto: http
    # https://dashboard.ngrok.com/cloud-edge/domains
    domain: DOMAIN